! フォントと色
URxvt.font: xft:JetBrainsMono:size=11
URxvt.background: #1d1f21
URxvt.foreground: #c5c8c6

! カーソル
Xcursor.theme: Bibata-Modern-Ice
Xcursor.size: 24

! Xft フォント（非 urxvt にも適用）
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
